* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar {
  position: sticky;
  top: 0;
  z-index: 10;
}

.alert__sticky {
  position: sticky;
  z-index: 10;
  top: 3rem;
  padding: 0;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.carousel__img {
  /* border: 1px solid #676767; */
  margin: 0;
  padding: 0;
  height: 25rem;
  object-fit: cover;
}
.carousel__img img {
  height: 25rem;
  object-fit: cover;
  object-fit: scale-down;
}

.product__gallery {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0;
  padding: 1rem;
}

.product__card {
  width: auto;
}

.product__card--img {
  height: 350px;
  object-fit: cover;
}

.footer {
  display: flex;
  justify-content: center;
  padding: 1rem;
  border-top: 1px solid #676767;
  margin-top: 10rem;
}
.footer__content {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  padding: 1rem;
}
.footer__content .footer__social {
  display: flex;
  gap: 1rem;
  list-style: none;
}
.footer__content .footer__social a {
  font-size: 1.5rem;
  text-decoration: none;
  color: #000;
}
.footer__content .footer__social a:hover {
  color: #676767;
}

@media (min-width: 768px) {
  .carousel__img {
    height: 35rem;
    object-fit: cover;
  }
  .carousel__img img {
    height: 35rem;
    object-fit: cover;
    object-fit: scale-down;
  }

  .product__card--img {
    height: 300px;
    object-fit: cover;
  }
  .form__contact {
    padding: 0 8rem;
  }
}

@media (min-width: 1024px) {
  .carousel__img {
    height: 40rem;
    object-fit: cover;
  }
  .carousel__img img {
    height: 40rem;
    object-fit: cover;
    object-fit: scale-down;
  }

  .product__card--img {
    height: 300px;
    object-fit: cover;
  }

  .form__contact {
    padding: 0 25%;
  }
}
