* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar {
  position: sticky;
  top: 0;
  z-index: 10;
}

.alert__sticky {
  position: sticky;
  z-index: 10;
  top: 3rem;
  padding: 0;
}

.product__gallery {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0;
  padding: 1rem;
}

.product__card {
  width: auto;
}

.product__card--img {
  height: 350px;
  object-fit: cover;
}

/* MEDIA QUERIES */

@media (min-width: 768px) {
  .product__card--img {
    height: 300px;
    object-fit: cover;
  }
  .form__contact {
    padding: 0 8rem;
  }
}

@media (min-width: 1024px) {
  .product__card--img {
    height: 300px;
    object-fit: cover;
  }

  .form__contact {
    padding: 0 25%;
  }
}
