@import "../node_modules/bootstrap/scss/functions";

//base variables
$primary: rgb(28, 46, 32);
$secondary: rgb(207, 215, 209);
$tertiary: rgb(176, 188, 119);
$background: rgb(249, 249, 249);
$font-family-base: "Poppins", sans-serif;
$carousel-control-color: $primary;

//color scheme
$body-bg: $background;

//spacing
$spacer: 1rem;

$spacers: (
  0: 0,
  1: $spacer * 0.25,
  2: $spacer * 0.5,
  3: $spacer,
  4: $spacer * 1.5,
  5: $spacer * 3,
  6: $spacer * 4.5,
  7: $spacer * 6,
  8: $spacer * 7.5,
  9: $spacer * 9,
  10: $spacer * 10,
);

//rounded corners
$enable-rounded: true;
$btn-border-radius: 2px;
$btn-border-radius-sm: 2px;
$btn-border-radius-lg: 2px;

$card-border-radius: 2px;
$card-border-radius-sm: 2px;
$card-border-radius-lg: 2px;

$input-border-radius: 0;
$input-border-radius-sm: 0;
$input-border-radius-lg: 0;

$alert-border-radius: 2px;
$modal-content-border-radius: 2px;
$dropdown-border-radius: 2px;
$navbar-toggler-border-radius: 2px;

//buttons
$btn-primary-bg: $secondary;
$btn-color: $secondary;
$btn-padding-y: 0.5rem;
$btn-padding-x: 2rem;
$color-contrast-light: $secondary;

//transitions
// $carousel-transition-duration: transform 6s ease-in-out;

@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/variables-dark";
@import "../node_modules/bootstrap/scss/mixins";
@import "../node_modules/bootstrap/scss/bootstrap";

.alert {
  display: flex;
  align-items: center;
  justify-content: space-between;
  align-content: center;
  flex-wrap: wrap;
}

.alert-dismissible .btn-close {
  position: absolute;
  z-index: 20;
  top: auto;
}

.navbar {
  background-color: $background !important;
  color: $primary;
  border-bottom: 1px solid $primary;
}

.btn-primary {
  background-color: $primary !important;
  color: $secondary !important;
  transition: all 0.3s ease-in-out;
}

.btn-primary:hover {
  background-color: $tertiary !important;
  color: $primary !important;
}

#carouselExampleFade,
#carouselExampleFade .carousel-inner,
#carouselExampleFade .carousel-item {
  height: 35rem;

  @media (min-width: 768px) {
    // Tablet (md)
    height: 55rem;
  }

  @media (min-width: 992px) {
    // Desktop (lg)
    height: 45rem;
  }
}

#carouselExampleFade .carousel-item img {
  height: 100%;
  object-fit: scale-down;
  object-position: center;
  display: block;
}

.product__card {
  background-color: $background;
  color: $primary;
  border: 1px solid $primary;
}

.footer {
  display: flex;
  justify-content: center;
  padding: 1rem;
  border-top: 1px solid $secondary;
  margin-top: 10rem;
}
.footer__content {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  padding: 1rem;
}
.footer__content .footer__social {
  display: flex;
  gap: 1rem;
  list-style: none;
}
.footer__content .footer__social a {
  font-size: 1.5rem;
  text-decoration: none;
  color: $primary;
}
.footer__content .footer__social a:hover {
  color: $tertiary;
}
