$primary: rgb(28, 46, 32);
$bg-body-tertiary: rgb(182, 193, 169);
$font-family-base: "Poppins", sans-serif;

@import "../node_modules/bootstrap/scss/bootstrap";
@import "../node_modules/bootstrap/scss/functions";
@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/variables-dark";
